*{
  margin: 0;
  padding: 0;
  font-family: 'poppins' sans-serif;
  box-sizing: border-box;
}
body{
  background: #080808;
  color: #fff;
}
#header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(baby.jpg);
  background-position: center;
}
main{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 140;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.nav, u1, li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.nav.u1, li a{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.nav.u1, li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav.u1, li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 10%;
  font-size: 30px;
  margin-left: 50px;
}
.h1{
  font-size: 60px;
  margin-top: 20px;
}
.h1, span{
  color: #f9004d;
}
/*---------about------------*/
.about{
  padding: 80px 0;
  color: #ababab;
  width: 100%;
  background-color: #080808;
}
.about img{
  height: 500px;
  width: 300px;

}
.about-text{
  width: 550px;
  padding: 50px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-text h2{
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
 
}
.about-text h5{
  color: white;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: pink;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
}
button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
a{
  font-size: 20px;
  color: white;
  align-items: center;
}
/*-------service--------- */
.service{
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 70px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
h5{
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}
.pra p{
  color: pink;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
/*-------Project--------- */  
.project{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;  
}
.work{
  border-radius: 10px;
  position: relative;;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.sub-title{
  font-size: 50px;
  text-align: center;
}
/*-------contactt--------- */ 
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: ;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.contact-right form{
  width: 70%;
 
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i{
  color: #ff004f;
}







